body{
    width: 100%;
    overflow-x: hidden;
    background-image: -webkit-image-set(
        url('../assets/images/background-img.webp') 1x,
        url('../assets/images/background-img@2x.webp') 2x
        
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}