.user-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    border-bottom: 1px solid $color-tertiary;
}

.msg-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 2vw;
    margin-top: 16px;
}

.send-msg{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $color-tertiary;
    bottom: 0;
    padding: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login-components{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;
    z-index: 1;

    @include responsive(desktop) {
    z-index: 10;
    }
}

.panel-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.table-mobile-ui{
    width: 80%;
    height: 100%;
    margin-left: 10vw;

    @include responsive(desktop) {
    width: 70%;
    }
}

.text-overlay{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 48px;

    @include responsive(desktop) {
    width: 70%;
    margin-left: 30vw;
    }
}

.p-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
}

.automated-message{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include responsive(desktop) {
    margin-top: -15vw;
    }
}

.text-overlay.auto-msg{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-top: 95px;

    @include responsive(tablet) {
    width: 50%;
    margin-left: 25vw;
    margin-top: 116px;
  }

  @include responsive(desktop) {
    width: 50%;
    margin-left: 0vw;
    margin-top: -12vw;
    z-index: 10;
    
  }
}

.user-list-container {
    display: grid;
    grid-column: 1 / -1;
    margin-bottom: 48px;


    @include responsive(desktop) {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5vw;
  }
} 

.card{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-primary;
    margin-left: 5vw;
    margin-top: 48px;
    padding: 3px;
    cursor: pointer;
}

.card-disabled{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-primary;
    margin-left: 5vw;
    margin-top: 48px;
    padding: 3px;
    cursor: pointer;
}

.user-info{
    margin-left: 16px;
}

.user-info-panel{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 78px;
}

.user-panel-desktop-container{
    width: 100%;

    @include responsive(desktop) {
    display: flex;
    width: 100%;
    margin-left: 5vw;
    margin-bottom: 64px;
    }
}

.user-action-container{
    display: flex;
    flex-direction: column;

    @include responsive(tablet) {
    display: flex;
    flex-direction: row;
    }

    @include responsive(desktop) {
    display: flex;
    flex-direction: row;
    }
}

.system-msg-container{
    display: flex;
}

.user-action{
    display: flex;
}

.system-msg-container{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.system-msg-text-container{

    position: absolute;
    width: 85%;
    margin-left: 15vw;
    margin-top: 5vw;

    @include responsive(tablet) {
        position: absolute;
        width: 55%;
        margin-left: 15vw;
        margin-top: 4vw;
    }

    @include responsive(desktop) {
    position: absolute;
    width: 60%;
    margin-left: 12vw;
    margin-top: 2vw;
    }
}

