.click-area{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.password{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 3px solid #AAAAD1;
    background-image: url('../../assets/images/lock.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 24px 24px;
    padding-left: 46px;

    &::placeholder {
    font-family: $font-tertiary;  
    font-size: 14px;
    }
}

.login-btn{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    font-family: $font-primary;
    font-size: 18px;
    color: $color-tertiary;
    background-color: $color-primary;

    &:hover{
        background-color: $color-secondary;
        color: $color-tertiary;
    }
}

.message{
    font-family: $font-tertiary;
    font-size: 14px;
    color: $color-tertiary;
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    width: fit-content;
    position: fixed;
    margin: 0;
    padding: 15px;
    opacity: 0;
    transition: opacity 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.bg-color{
    background-color: $color-primary;
    width: 90%;
    position: relative;
    margin-top: 124px;
    margin-left: 5vw;
    padding: 1px;
}

.danger-icon{
    width: 16px;
    height: 14px;
}