//MOBILE FIRST

.terminal-bondly{
    background-color: $color-primary;
    background-image: none;
}

.mobile-ui {
  display: block;

  @include responsive(desktop) {
    display: none;
  }
}

.desktop-ui{
    display: none;

    @include responsive(desktop) {
    display: block;
  }
}

.click-area{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.password{
    width: 250px;
    height: 35px;
    border-radius: 15px;
    border: 3px solid #AAAAD1;
    background-image: url('../../assets/images/lock.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 18px 18px;
    padding-left: 46px;

    &::placeholder {
    font-family: $font-tertiary;  
    font-size: 11px;

    @include responsive(desktop) {
    font-size: 14px;
    }
    }
    
    @include responsive(desktop) {
    width: 350px;
    height: 40px;
    background-size: 24px 24px;
  }
}

.login-btn{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    font-family: $font-primary;
    font-size: 16px;
    color: $color-tertiary;
    background-color: $color-primary;

    &:hover{
        background-color: $color-secondary;
        color: $color-tertiary;
    }

    @include responsive(desktop) {
    font-size: 20px;
  }
}

.message{
    font-family: $font-tertiary;
    font-size: 14px;
    color: $color-tertiary;
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    width: fit-content;
    position: fixed;
    margin: 0;
    padding: 15px;
    opacity: 0;
    transition: opacity 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.bg-color{
    background-color: $color-primary;
    width: 90%;
    position: relative;
    margin-top: 124px;
    margin-left: 5vw;
    padding: 1px;
}

.msg{
    background-color: $color-tertiary;
    padding: 12px;
    border-radius: 8px;
}

thead th {
  padding-top: 48px;
}

.table-mobile-ui th,
.table-mobile-ui td {
  border-top: 1px solid $color-tertiary;
}

.table-mobile-ui th.first,
.table-mobile-ui td.first {
  border-top: none;
  padding-top: 0;
}

.options {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 20vw;
    gap: 16px;
    width: 60%;
    opacity: 0;
    pointer-events: none;

  @include responsive(tablet) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 29vw;
    gap: 16px;
    width: 40%;
    opacity: 0;
    pointer-events: none;
  }

  @include responsive(desktop) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 29vw;
    gap: 16px;
    width: 40%;
    opacity: 0;
    pointer-events: none;
  }
}

  .option{
    padding: 10px 20px;
    font-family: $font-secondary;
    font-size: 18px;
    border: 1px solid $color-secondary;
    background-color: #381132;
    color: $color-secondary;

    &:hover {
      color: $color-tertiary;
      border: 1px solid $color-tertiary;
      }
  }

  .options.visible {
    pointer-events: all;
    opacity: 1;
  }