body {
  background-image: image-set(
    url('../assets/images/background-img.webp') 1x,
    url('../assets/images/background-img@2x.webp') 2x
    );
    
  background-size: cover;
  background-repeat: no-repeat;
}

.text{
  font-size: $size-text;
}

