.text-big{ @include font-size-responsive(20px, 24px, 32px); }
.text-nav{ @include font-size-responsive(16px, 18px, 20px); }
.log{ @include font-size-responsive(14px, 16px, 16px); }
.feedback{ @include font-size-responsive(14px, 16px, 16px); }

.text-big{
  font-family: $font-primary;
  color: $color-tertiary;
  font-weight: 400;
  font-style: normal;
}

.text-nav{
  font-family: $font-primary;
  color: $color-tertiary;
  font-weight: 400;
  font-style: normal;
  margin-left: 16px;
  margin-top: 32px;
}

.log{
  font-family: $font-tertiary;
  color: $color-tertiary;
  text-align: center;
  margin-top: 150px;
}

.feedback{
  font-family: $font-tertiary;
  color: $color-tertiary;
  display: none;
}

.feedback.visible{
  display: block;
  margin: 0;
  padding: 0;
}