//variables for fonts
$font-primary: "Homenaje", sans-serif;
$font-secondary: "Exo 2", sans-serif;
$font-tertiary: "Space Mono", monospace;

//colors
$color-primary: #0C0015;
$color-secondary: #FF3B5B;
$color-tertiary: #FFFFFF;
$color-red: #FF0000;
$color-green: #A8FF9D;
$color-orange : #FF9F18;
